body {
    font-family: Arial, sans-serif;
    background-color: #dab8cb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

 header {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      background-color: #DFA2B0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      padding: 15px;
      margin-bottom: 0;
    }
 .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 90%;
      margin: 0 auto;
      margin-bottom: 0;
      padding: 0; 
    }
.links {
      display: flex;
      gap: 20px;
    }
.links a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      transition: color 0.3s ease;
    }
.links a:hover {
      color: #b8a0c1;
      background-color: #FFE6EC;
    }
.container {
    display: flex;
    gap: 20px;
    background: #ffdff1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

/* Left Box */
.left-box {
    background: #ffffff;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
}

.left-box h1 {
    font-size: 24px;
    margin-bottom: 10px;
}


.welcome {
    color: #ffdbdb;
    font-weight: bold;
}

.left-box img {
    width: 100%;
    max-width: 110px;
}

.left-box p {
    font-size: 14px;
    color: #000000;
}

.signature {
    font-size: 16px;
    font-weight: bold;
    color: #79a678;
}

/* Right Box */
.right-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right-box {
    text-align: center;
}
#text {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
}

.right-box img {
    width: 350px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
background: linear-gradient(135deg, var(--accent-blue), var(--light-blue), var(--pink-accent));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            animation: textShimmer 3s ease-in-out infinit
